services:
  node:
    build:
      context: ./docker/node/
      dockerfile: node.Dockerfile
    container_name: pms-node
    ports:
      - "3000:3000"
    volumes:
      - ./:/home/app/
    tty: true
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started

  mysql:
    build:
      context: ./docker/mysql/
      dockerfile: mysql.Dockerfile
    container_name: pms-mysql
    ports:
      - "3306:3306"
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-p$$MYSQL_ROOT_PASSWORD",
        ]
      interval: 2s
      timeout: 20s
      retries: 10
    restart: always

  redis:
    image: redis:8.2.0-alpine
    container_name: pms-redis
    ports:
      - "6379:6379"
    volumes:
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf
      - ./docker/redis/data:/data
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    restart: always
    command:
      [
        "redis-server",
        "/usr/local/etc/redis/redis.conf",
        "--requirepass ${REDIS_PASSWORD}",
      ]
